<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Go + HTMX</title>

    <script
        src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"
        integrity="sha384-H"
        crossorigin="anonymous">
    </script>
</head>
<body>
    <main>
        <h1>Go + HTMX</h1>

        <form
            hx-post="/greet"
            hx-target="#result"
            hx-swap="innerHTML"
        >
            <label>
                Name
                <input name="name" required>
            </label>

            <button type="submit">Greet me</button>
        </form>

        <div id="result"></div>
    </main>
</body>
</html>
